<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body class="container">

  <header class="header">
    <div class="headline">
      <h1>Travel Planner</h1>
    </div>
  </header>
  <div id="app">
    <div class="trip">
      <form onsubmit="return Client.generatePage(event)"></form>
      <div class="description">
        <div class="destination">
          <label for="where">My Trip to:</label>
          <input type="text" id="where" placeholder="City/Country">
        </div>
        <div class="date">
          <label for="when">Departing:</label>
          <input type="text" id="when" placeholder="MM/DD/YYYY">
        </div>
        <div class="buttons">
          <button id="generate" type="submit" onclick="return Client.generatePage(event)"
            onsubmit="return Client.generatePage(event)"> Save </button>
          <button id="delete" type="submit" onclick="return Client.newPage(event)"
            onsubmit="return Client.newPage(event)">Remove</button>
        </div>
        </form>
        <div class="information">
          <image id="img"></image>
          <div id="countdown"></div>
          <div id="weather"></div>
          <div id="temperature"></div>
          <div id="description"></div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>Author: Ilce Villeda-Principe</p>
    <p>Credits:</p>
  </footer>
  <script src="app.js" type="text/javascript"></script>
</body>

</html>